* {
  background-color: #d6e0ef;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  text-align: center;
}

#starting-quiz {
  text-align: center;
}

#response, #quiz-area, h3 {
  text-align: center;
  margin-top: 20px;
}

#question{
  text-align: center;
  font-size: x-large;
  margin-bottom: 20px;
}

button{
  width: 240px;
  height: 50px;
  color: white;
  background-color: dodgerblue;
  border-radius: 28px;
  align-items: center;
}

#quiz-area {
  margin-bottom: 25px;
}

#highscore-list {
  font-size: x-large;
  border: black;
  text-decoration: underline;
  margin-bottom: 30px;
}